<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>List</key>
	<array>
		<dict>
			<key>Icon</key>
			<string></string>
			<key>Name</key>
			<string>上海大众出租汽车有限公司</string>
			<key>Telephone</key>
			<string>1223344</string>
		</dict>
		<dict>
			<key>Icon</key>
			<string></string>
			<key>Name</key>
			<string>上海强生出租汽车有限公司</string>
			<key>Telephone</key>
			<string>1231455</string>
		</dict>
		<dict>
			<key>Icon</key>
			<string></string>
			<key>Name</key>
			<string>上海巴士出租汽车有限公司</string>
			<key>Telephone</key>
			<string>6345234</string>
		</dict>
		<dict>
			<key>Icon</key>
			<string></string>
			<key>Name</key>
			<string>上海新锦江出租汽车有限公司</string>
			<key>Telephone</key>
			<string>62432536356</string>
		</dict>
	</array>
</dict>
</plist>
